<h1>Yappy Trails Now Hiring!</h1>

<h2>Check out these great positions:</h2>

  <ul>
    <li>dog walker</li>
  </ul>

  <%@jobs.each do |job| %>
    <h3><%= job.title %></h3>
    <p><%= job.description %></p>
    <h3><%= job.location %></h3>
    <h3><%= job.pay %></h3>
    <h5><%= link_to "Edit Posting", edit_job_path(job)%></h5>
  <% end %>
